In [5]:
import pandas as pd

In [12]:
df = pd.read_csv("dataset/kepler_koi_list.csv")
df.head()

   loc_rowid     kepid kepoi_name koi_disposition koi_pdisposition
0          1  11446443  K00001.01       CONFIRMED        CANDIDATE
1          2  10666592  K00002.01       CONFIRMED        CANDIDATE
2          3  10748390  K00003.01       CONFIRMED        CANDIDATE
3          4   3861595  K00004.01       CONFIRMED        CANDIDATE
4          5   8554498  K00005.01       CANDIDATE        CANDIDATE

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9564 entries, 0 to 9563
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loc_rowid         9564 non-null   int64
 1   kepid             9564 non-null   int64
 2   kepoi_name        9564 non-null   object
 3   koi_disposition   9564 non-null   object
 4   koi_pdisposition  9564 non-null   object
dtypes: int64(2), object(3)
memory usage: 373.7+ KB

In [20]:
print("Unique dispositions:  ", df.koi_disposition.unique())
print("Unique pdispositions: ", df.koi_pdisposition.unique())

Unique dispositions:   ['CONFIRMED' 'CANDIDATE' 'FALSE POSITIVE']
Unique pdispositions:  ['CANDIDATE' 'FALSE POSITIVE']

In [22]:
total = 0

for disp in df.koi_disposition.unique():
    total += len(df[df.koi_disposition == disp])
    print(f"Number of {disp} objects: {len(df[df.koi_disposition == disp])}")

print(f"Total number of objects : {total}")

Number of CONFIRMED objects: 2363
Number of CANDIDATE objects: 2361
Number of FALSE POSITIVE objects: 4840
Total number of objects : 9564

In [23]:
total = 0

for disp in df.koi_pdisposition.unique():
    total += len(df[df.koi_pdisposition == disp])
    print(f"Number of {disp} objects: {len(df[df.koi_pdisposition == disp])}")

print(f"Total number of objects : {total}")

Number of CANDIDATE objects: 4717
Number of FALSE POSITIVE objects: 4847
Total number of objects : 9564